# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/

# testing files


# notebook output

code/*.html
code/js/closest_dark_place_orig.js
code/Light_Pollution_Map_orig.R
code/light_pollution.R

# syntax highlighting

# code/highlight/atom-one-dark.theme
code/highlight/ayu-dark.theme
code/highlight/ayu-mirage.theme
code/highlight/breeze-dark.theme
code/highlight/catppuccin-frappe.theme
code/highlight/catppuccin-latte.theme
code/highlight/catppuccin-macchiato.theme
code/highlight/catppuccin-mocha.theme
code/highlight/dracula.theme
code/highlight/falcon.theme
code/highlight/github-dark.theme
code/highlight/gruvbox-dark.theme
code/highlight/homunculus.theme
code/highlight/monokai.theme
code/highlight/nord.theme
code/highlight/oblivion.theme
code/highlight/printing.theme
code/highlight/radical.theme
code/highlight/solarized-dark.theme
code/highlight/tokyo-night-light.theme
code/highlight/tokyo-night-storm.theme
code/highlight/tokyo-night.theme
code/highlight/vscodium-dark.theme
code/highlight/ayu-dark.theme

# Microsoft temp files

*~$*
~*
